.layout {
  display: flex;
  flex-direction: column; /* los hijos van en columna */
  height: 100vh; /* ocupa toda la pantalla */
  overflow: hidden;
}

.main-area {
  display: flex;
  /* flex-direction: row; */
  flex: 1; /*ocupa todo el espacio disponible */
  overflow: hidden;
}

.sidebar {
  flex: 0 0 18rem;
  height: 100%;
  /* background-color: #111;
  color: white; */
}

.content {
  flex: 1;
  background: linear-gradient(90deg, rgba(23,23,26,1) 44%, rgba(24,24,24,1));
  color: var(--color-4);
  overflow-y: auto; /* solo el contenido tiene scroll */
  position: relative;
}

.player {
  height: 85px; /* coincide con media-player.component.css */
  flex-shrink: 0; /* no se reduce */
}
